.List {
  width: 100%;
  padding: 20px 0;
}

.User {
  padding: 20px 40px;
  width: 100%;
  display: flex;
  border-radius: 15px;
  background: #f0a04b;
  box-sizing: border-box;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.Avatar {
  border-radius: 50%;
}

.Name {
  display: flex;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.Button {
  width: 160px;
  background: #e1eedd;
  border: 0;
  border-radius: 15px;

  &.active {
    background: #183a1d;
    color: #fff;
  }
}

.HelperText {
  font-size: 11px;
  height: 16px;
  text-align: center;
  color: #fefbe9;
}
